<form id="updateform">
<input type="hidden" value="{$info.menuid}" name="menuid">
<label>父级栏目</label>
<select name="parentid">
<option value="{$info.parentid}">--选择父级--</option>
<volist name='list' id='v'>
<option value="{$v.menuid}">{:str_repeat('&nbsp;&nbsp;&nbsp;',$v[deep])}├&nbsp;{$v.menuname}</option>
</volist>
</select>
<label>图标</label>
<input type="text" name="i" value="{$info.i}"> 
<label>栏目名称</label>
<input type="text" name="menuname" value="{$info.menuname}">
<label>模块名称</label>
<input type="text" name="m" value="{$info.m}">
<label>控制器名称</label>
<input type="text" name="c" value="{$info.c}">
<label>方法名称</label>
<input type="text" name="action" value="{$info.action}">
<label>排序</label>
<input type="text" name="listorder" value="{$info.listorder}">
<label>是否显示</label>
<input type="radio" name="display" value="1" <?php echo $info['display']?'checked="checked"':null; ?>>是
<input type="radio" name="display" value="0" <?php echo $info['display']?null:'checked="checked"'; ?>>否
</form>